<ion-view title="Bienvenido" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="bienvenido-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="bienvenido-slide24" style="background:url(&quot;img/OERSfBzjQNuVpbriucsT_cafe.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bienvenido-slide25" style="background:url(&quot;img/0fxIecWzQZO6DChLWONq_cafe2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="bienvenido-slide26" style="background:url(&quot;img/WOTWutZmSLuDebjPyfne_precio.jpeg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <div class="spacer" style="height: 50px;"></div>
    <ion-list id="bienvenido-list3">
      <div class="item item-body" id="bienvenido-list-item-container1">
        <div id="bienvenido-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Quienes somos?</strong>
          </p>

          <p style="color:#000000;">
            <strong>CafeMarket</strong> es la solución ganadora de la hackaton CafeTic realizada en Noviembre del 2017 con el apoyo del Parque Tecnológico del Café - TECNICAFÉ. </p>

          <p style="color:#000000;">Esta solución brinda en tiempo real el precio de la arroba de café excelso basándose en el precio de la Bolsa de Valores de New York. Analiza su comportamiento y pronostica su tendencia.</p>

          <p style="color:#000000;">Dudas? contactanos:</p>

          <p style="color:#000000;">cafemarket@gmail.com</p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>